@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #2C3A47;
}
.wrapper {
    text-align: center;
    width: 770px;
    padding: 35px;
    background: #F4F4F4;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
::selection {
    color: #fff;
    background: #4CAF50;
}
.wrapper .input-field {
    opacity: 0;
    z-index: -999;
    position: absolute;
}
.wrapper .content-box {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #E0E0E0;
}
.content-box .typing-text {
    overflow: hidden;
    max-height: 256px;
}
.typing-text::-webkit-scrollbar {
    width: 0;
}
.typing-text p {
    font-size: 18px;
    text-align: justify;
    letter-spacing: 1px;
    word-break: break-all;
    color: #333;
}